<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your new shortened URL from this original long URL <%= @link.original_url %> will expire in the next 5 days!</p>
    <p>
    Link details<br>
    --------------------------
    </p>
    <p>URL: <%= @link.original_url %></p>
    
  </body>
</html>