<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6 mt-3">Enter URL to Shorten</h1><br />
        <%= link_to '<< Back', links_path, class: 'btn btn-secondary mt-3 text-light' %>
      </div>

      <p class="py-2">Enter url like this, starting with either <i>'http://'</i> or <i>'https://'</i></p>

      <%= render 'form', link: @link %>
      
    </div>
  </div>
</div>
